.iu-center-box {
  width:1280px;
}
.iu-page {
  min-width:1280px;
}
.main {
  height:100%;
}
.header {
  color:#333333;
  height:75px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.page-content {
  background-color:#FFFFFF;
}
.section {
  height:720px;
}
.box {
  background-color:#FFFFFF;
  border-bottom-width:0px;
  border-color:#0092FF;
  border-left-width:0px;
  border-right-width:2px;
  border-top-width:2px;
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.googlemap {
  height:100%;
  left:2px;
  top:0px;
  width:65%;
}
.pg-text-field {
  height:40px;
  left:10px;
  padding-left:8px;
  padding-right:8px;
  top:10px;
  width:200px;
}
.image {
  height:40px;
  left:185px;
  top:10px;
  width:40px;
}
.box-19 {
  height:0px;
  left:884px;
  top:130px;
  width:0px;
}
.pg-form {
  height:100%;
  left:65.14%;
  top:0px;
  width:35%;
}
.box-21 {
  background-color:#0092FF;
  height:9.97%;
  left:0px;
  top:0px;
  width:100%;
}
.cell {
  height:68px;
  left:5%;
  line-height:68px;
  text-align:center;
  top:0px;
  width:217px;
}
.floating-image-23 {
  background-image:url('/static/resource/project/Feedbin-Icon-calendar.svg.png');
  background-position:center center;
  background-size:contain;
  height:20px;
  left:15px;
  top:90px;
  width:30px;
}
.floating-image-24 {
  background-image:url('/static/resource/project/Feedbin-Icon-calendar.svg.png');
  background-position:center center;
  background-size:contain;
  height:20px;
  left:225px;
  top:90px;
  width:30px;
}
.text-24 {
  height:25px;
  left:45px;
  top:87px;
  width:160px;
}
.text-26 {
  height:25px;
  left:255px;
  top:87px;
  width:160px;
}
.pg-text-field-28 {
  border-color:#0092FF;
  border-width:2px;
  height:30px;
  left:230px;
  padding-left:8px;
  padding-right:8px;
  top:120px;
  width:170px;
}
.floating-image-29 {
  background-image:url('/static/resource/project/standing_man_filled1600.png');
  background-position:center center;
  background-size:contain;
  height:20px;
  left:15px;
  top:175px;
  width:30px;
}
.text-30 {
  height:25px;
  left:45px;
  top:172px;
  width:160px;
}
.floating-image-31 {
  background-image:url('/static/resource/project/578ece6867e676aaa959d95412226cda.png');
  background-position:center center;
  background-size:contain;
  height:25px;
  left:225px;
  top:172px;
  width:30px;
}
.text-32 {
  height:25px;
  left:256px;
  top:172px;
  width:160px;
}
.pg-select {
  height:30px;
  left:20px;
  top:200px;
  width:190px;
}
.pg-select-34 {
  height:30px;
  left:230px;
  top:200px;
  width:190px;
}
.cell-35 {
  height:30px;
  left:0px;
  line-height:30px;
  text-align:center;
  top:265px;
  width:100px;
}
.cell-36 {
  height:30px;
  left:7px;
  line-height:30px;
  text-align:center;
  top:300px;
  width:50px;
}
.pg-check-box {
  height:30px;
  left:75px;
  top:300px;
  width:100px;
}
.cell-38 {
  height:30px;
  left:95px;
  line-height:30px;
  text-align:center;
  top:300px;
  width:80px;
}
.pg-check-box-39 {
  height:30px;
  left:195px;
  top:300px;
  width:100px;
}
.cell-40 {
  height:30px;
  left:215px;
  line-height:30px;
  text-align:center;
  top:300px;
  width:80px;
}
.pg-check-box-41 {
  height:30px;
  left:315px;
  top:300px;
  width:100px;
}
.cell-42 {
  height:30px;
  left:337px;
  line-height:30px;
  text-align:center;
  top:300px;
  width:80px;
}
.cell-43 {
  height:30px;
  left:6px;
  line-height:30px;
  text-align:center;
  top:350px;
  width:125px;
}
.pg-check-box-44 {
  height:30px;
  left:157px;
  top:350px;
  width:30px;
}
.cell-45 {
  height:30px;
  left:1px;
  line-height:30px;
  text-align:center;
  top:423px;
  width:135px;
}
.cell-46 {
  height:30px;
  left:10px;
  line-height:30px;
  text-align:center;
  top:500px;
  width:135px;
}
.pg-select-47 {
  height:30px;
  left:157px;
  top:500px;
  width:200px;
}
.pg-select-48 {
  height:30px;
  left:157px;
  top:423px;
  width:200px;
}
.pg-button-49 {
  background-color:#6D6D6D;
  color:#FFFFFF;
  font-size:18px;
  font-weight:700;
  height:30px;
  left:174px;
  top:563px;
  width:100px;
}
.pg-text-field-49 {
  border-color:#0092FF;
  border-width:2px;
  height:30px;
  left:20px;
  padding-left:8px;
  padding-right:8px;
  top:120px;
  width:180px;
}