<!DOCTYPE html>
<HTML>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/resource/common/iu.css">
    <link rel="stylesheet" type="text/css" href="/static/resource/css/pages/index.css">
    <link rel="stylesheet" type="text/css" href="/static/resource/css/compositions/header.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="//cdn.iueditor.org/js/iueditor-2.1.js" defer></script>
    <!--[if lt IE 9]>
      <script>
        document.createElement("header" );
        document.createElement("footer" );
        document.createElement("section");
        document.createElement("nav"    );
        document.createElement("article");
      </script>
      <noscript>
        <strong>Warning !</strong>
        Because your browser does not support HTML5, some elements are simulated using JScript.
        Unfortunately your browser has disabled scripting. Please enable it in order to display this page.
      </noscript>
    <![endif]-->
  </head>
  <body>
    <!-- iuname : index -->
    <div class="iu-page index">
      <header class="iu-header header">
        {% include './compositions/header.html' %}
      </header>
      <section class="iu-page-content page-content">
        <section class="iu-section section">
          <div class="iu-floating-image floating-image-12"></div>
        </section>
        <div class="iu-text text-21">
          <p>Welcome to 'La Pista'.&nbsp;We will travel with you Get flight plans with optimized route!!</p>
          <p>&nbsp;</p>
          <p>[:라 피스타]는 여러분의 활주로가 되어 최적의 경로를 탐색합니다.</p>
          <p>&nbsp;</p>
        </div>
        <div class="iux-has-hover iu-cell cell-17">
          <a class="iux-inner-link" href="/main">
            <p>Go Trip</p>
          </a>
        </div>
        <div class="iux-has-hover iu-cell cell">
          <a class="iux-inner-link" href="/list">
            <p>My Travel List</p>
            <p>&nbsp;</p>
          </a>
        </div>
      </section>
    </div>
  </body>
</HTML>