.iu-center-box {
  width:1280px;
}
.iu-page {
  min-width:1280px;
}
.header {
  color:#333333;
  height:75px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.text-4 {
  color:#969696;
  float:none;
  font-family:'Helvetica', sans-serif;
  font-size:24px;
  height:30px;
  left:0px;
  position:fixed;
  text-align:center;
  top:0px;
  width:100%;
  z-index:11;
}
.floating-image {
  background-image:url('/resource/project/LaPista_logo_navy.png');
  background-position:center center;
  background-size:contain;
  height:35px;
  left:30px;
  top:22px;
  width:130px;
}
.pg-button {
  background-color:#FFFFFF;
  border-color:#FFFFFF;
  border-width:-1px;
  color:#6D6D6D;
  height:30px;
  left:1130px;
  opacity:1;
  top:22px;
  width:100px;
}
.page-content {
  background-color:#FFFFFF;
}
.section {
  height:720px;
}
.box {
  border-top-color:#0092FF;
  border-top-width:2px;
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.box-20 {
  height:290px;
  left:505px;
  top:23px;
  width:256px;
}
.transition-21 {
  height:256px;
  left:0px;
  top:0px;
  width:256px;
}
.transition-item-22 {
  background-image:url('/resource/project/MacAppIcon-256.png');
}
.text-25 {
  border-color:#000F66;
  border-width:3px;
  bottom:0px;
  color:#B4B4B4;
  font-size:18px;
  height:250px;
  left:0px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:97.74%;
}
.text-21 {
  height:34px;
  left:0px;
  text-align:center;
  top:255px;
  width:256px;
}
.box-22 {
  height:290px;
  left:100px;
  top:23px;
  width:256px;
}
.transition {
  height:256px;
  left:0px;
  top:0px;
  width:256px;
}
.transition-item {
  background-image:url('/resource/project/MacAppIcon-256.png');
}
.text-27 {
  border-color:#000F66;
  border-width:3px;
  bottom:0px;
  color:#B4B4B4;
  font-size:18px;
  height:250px;
  left:0px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:97.74%;
}
.text-24 {
  height:34px;
  left:0px;
  text-align:center;
  top:255px;
  width:256px;
}
.pg-page-link-set selected > div > ul > a > li, .pg-page-link-set > div > ul > a > li:hover {
  background-color:rgba(50,50,50,0.50);
}
.pg-page-link-set > div {
  margin:auto;
  text-align:center;
}
.pg-page-link-set > div > ul > a > li {
  background-color:rgba(50,50,50,0.50);
  display:block;
  height:30px;
  line-height:30px;
  margin-left:5px;
  margin-right:5px;
  width:30px;
}
.pg-page-link-set {
  color:#FFFFFF;
  height:30px;
  left:505px;
  top:643px;
  width:281px;
}
.pg-page-link-set > div > ul {
  display:inline-block;
}